.sapMSplitContainerMaster {
  width: 25%;
  min-width: 300px;
}
.invisible {
  display: none;
}
/*used to open and collapse testrun list elements*/
.columnListItemExpanded .visibleWhenExpanded {
  display: block;
}
.projectXEditor {
  height: 300px;
}
.masterScrollContainer {
  height: calc(100% - 97px) !important;
}
.masterList .sapMLIBContent {
  width: 100%;
}
.masterList .sapMLIBContent > div {
  height: auto;
}
.masterList .sapMLIBContent > div span {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sapMFlexItem .httpMethodTag,
.sapMTBNewFlex .httpMethodTag {
  font-size: 0.6rem;
  padding: 0.1rem 0.4rem;
  display: inline-block;
  border-radius: 100px;
}
.sapMFlexItem .get,
.sapMTBNewFlex .get {
  color: #009525;
  box-shadow: 0px 0px 0.2rem #009525;
}
.sapMFlexItem .post,
.sapMTBNewFlex .post {
  color: #0077cd;
  box-shadow: 0px 0px 0.2rem #0077cd;
}
.sapMFlexItem .put,
.sapMTBNewFlex .put {
  color: #cba600;
  box-shadow: 0px 0px 0.2rem #cba600;
}
.sapMFlexItem .patch,
.sapMTBNewFlex .patch {
  color: #00c1cd;
  box-shadow: 0px 0px 0.2rem #00c1cd;
}
.sapMFlexItem .delete,
.sapMTBNewFlex .delete {
  color: #cd0000;
  box-shadow: 0px 0px 0.2rem #cd0000;
}
.sapMFlexItem .head,
.sapMTBNewFlex .head {
  color: #151515;
  box-shadow: 0px 0px 0.2rem #151515;
}
.sapMFlexItem .options,
.sapMTBNewFlex .options {
  color: #919191;
  box-shadow: 0px 0px 0.2rem #919191;
}
.sapMFlexItem .sapMObjectIdentifier {
  margin-left: 0.5rem;
}
