.sapMShellGlobalInnerBackground {
  background-color: #fff !important;
  background-image: none !important;
}
.sapUiFormResGrid > div {
  background-color: transparent !important;
  background-image: none !important;
}
.sapUiFormResGrid > div {
  background-color: transparent !important;
}
.sapMSubHeader-CTX {
  background-color: white !important;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #cdcdcd;
}
.sapUiUfdShellBackground,
.sapMGlobalBackgroundColor {
  background-color: transparent !important;
  background-image: none !important;
}
.sapMSplitContainerMaster {
  width: 25%;
  min-width: 300px;
}
.invisible {
  display: none;
}
/*used to open and collapse testrun list elements*/
.columnListItemExpanded .visibleWhenExpanded {
  display: block;
}
.projectXEditor {
  height: 300px;
}
/**
 * STyles for the Request screen
 */
.projectXRequestUrlInput {
  border-style: solid;
  border-width: 0px;
  border-width: 1px;
  border-color: #cdcdcd;
  margin-top: 3px;
  margin-bottom: 3px;
  min-height: 1.5rem;
}
.projectXBorder {
  border-style: solid;
  border-width: 0px;
  border-width: 1px;
  border-color: #cdcdcd;
}
.projectXRequestStuffContainer {
  margin-top: 1rem;
}
.projectXRequestStuffContainer .sapMITBTextOnly {
  margin-top: 0px;
}
.projectXRequestResponseContainer {
  margin-top: 1rem;
}
.projectXRequestResponseContainer .sapMITBTextOnly {
  margin-top: 0px;
}
.masterScrollContainer {
  height: calc(100% - 97px) !important;
}
.masterList .sapMLIBContent {
  width: 100%;
}
.masterList .sapMLIBContent > div {
  height: auto;
}
.masterList .sapMLIBContent > div span {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sapUiSizeCompact .sapMSegB,
.sapMSegB .sapMSegB {
  padding: 0rem;
}
.sapMTB {
  border-bottom: none;
}
.sapUiFup {
  margin-top: 0.2rem;
}
.sapMFlexItem .httpMethodTag,
.sapMTBNewFlex .httpMethodTag {
  font-size: 0.6rem;
  display: inline-block;
  border: 0.1rem solid;
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
}
.sapMFlexItem .get .sapMObjStatusText,
.sapMTBNewFlex .get .sapMObjStatusText {
  color: #009525;
}
.sapMFlexItem .get,
.sapMTBNewFlex .get {
  border-color: #009525;
  box-shadow: 0 0 0.2rem #009525;
}
.sapMFlexItem .post .sapMObjStatusText,
.sapMTBNewFlex .post .sapMObjStatusText {
  color: #0077cd;
}
.sapMFlexItem .post,
.sapMTBNewFlex .post {
  border-color: #0077cd;
  box-shadow: 0 0 0.2rem #0077cd;
}
.sapMFlexItem .put .sapMObjStatusText,
.sapMTBNewFlex .put .sapMObjStatusText {
  color: #cba600;
}
.sapMFlexItem .put,
.sapMTBNewFlex .put {
  border-color: #cba600;
  box-shadow: 0 0 0.2rem #cba600;
}
.sapMFlexItem .patch .sapMObjStatusText,
.sapMTBNewFlex .patch .sapMObjStatusText {
  color: #00c1cd;
}
.sapMFlexItem .patch,
.sapMTBNewFlex .patch {
  border-color: #00c1cd;
  box-shadow: 0 0 0.2rem #00c1cd;
}
.sapMFlexItem .delete .sapMObjStatusText,
.sapMTBNewFlex .delete .sapMObjStatusText {
  color: #cd0000;
}
.sapMFlexItem .delete,
.sapMTBNewFlex .delete {
  border-color: #cd0000;
  box-shadow: 0 0 0.2rem #cd0000;
}
.sapMFlexItem .head .sapMObjStatusText,
.sapMTBNewFlex .head .sapMObjStatusText {
  color: #151515;
}
.sapMFlexItem .head,
.sapMTBNewFlex .head {
  color: #151515;
  box-shadow: 0 0 0.2rem #151515;
}
.sapMFlexItem .options .sapMObjStatusText,
.sapMTBNewFlex .options .sapMObjStatusText {
  color: #919191;
}
.sapMFlexItem .options,
.sapMTBNewFlex .options {
  border-color: #919191;
  box-shadow: 0 0 0.2rem #919191;
}
.sapMFlexItem .httpMethodTag {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}
