.sapMSplitContainerMaster {
  width: 25%;
  min-width: 300px;
}
.invisible {
  display: none;
}
/*used to open and collapse testrun list elements*/
.columnListItemExpanded .visibleWhenExpanded {
  display: block;
}
.projectXEditor {
  height: 300px;
}
.masterScrollContainer {
  height: calc(100% - 97px) !important;
}
.masterList .sapMLIBContent {
  width: 100%;
}
.masterList .sapMLIBContent > div {
  height: auto;
}
.masterList .sapMLIBContent > div span {
  margin-top: 5px;
  margin-bottom: 5px;
}
