[
  {
    "identifier": 8,
    "name": "ES4 Gateway",
    "prefixUrl": "https://sapes4.sapdevcenter.com/sap/opu/odata/IWBEP/GWSAMPLE_BASIC/",
    "username": "",
    "password": "",
    "useBasicAuthentication": true,
    "csrfTokenUrl": "https://sapes4.sapdevcenter.com/sap/opu/odata/IWBEP/GWSAMPLE_BASIC/",
    "requests": [
      {
        "identifier": 1,
        "name": "Metadata",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": false,
        "url": "$metadata",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "xml",
        "groupName": "Service basics",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [],
        "requestHeaders": [
          {
            "fieldName": "sap-statistics",
            "fieldValue": "true"
          },
          {
            "fieldName": "cache-control",
            "fieldValue": "no-cache, no-store"
          },
          {
            "fieldName": "Pragma",
            "fieldValue": "no-cache"
          }
        ]
      },
      {
        "identifier": 2,
        "name": "Service Document",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": false,
        "fetchCSRFToken": false,
        "url": "https://sapes4.sapdevcenter.com/sap/opu/odata/IWBEP/GWSAMPLE_BASIC/",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "xml",
        "groupName": "Service basics",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [],
        "requestHeaders": []
      },
      {
        "identifier": 3,
        "name": "ProductSet",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": false,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          }
        ]
      },
      {
        "identifier": 4,
        "name": "New Product PX-1234",
        "description": "",
        "httpMethod": "POST",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "{\n    \"ProductID\": \"PX-1234\",\n    \"TypeCode\": \"PR\",\n    \"Category\": \"Notebooks\",\n    \"Name\": \"Mac Book Pro 15\",\n    \"NameLanguage\": \"EN\",\n    \"Description\": \"Mac Book Pro 15“ 2,7 GHz Intel Core i7, 16GB 1600 MHz DDR3\",\n    \"DescriptionLanguage\": \"EN\",\n    \"SupplierID\": \"0100000001\",\n    \"SupplierName\": \"Apple\",\n    \"TaxTarifCode\": 1,\n    \"MeasureUnit\": \"EA\",\n    \"WeightMeasure\": \"2.200\",\n    \"WeightUnit\": \"KG\",\n    \"CurrencyCode\": \"EUR\",\n    \"Price\": \"2200.00\",\n    \"Width\": \"30.000\",\n    \"Depth\": \"18.000\",\n    \"Height\": \"3.000\",\n    \"DimUnit\": \"CM\"\n}",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "JSONBODY",
            "operation": "EQUALS",
            "path": "",
            "expected": "200"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Content-Type",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "sap-statistics",
            "fieldValue": "true"
          }
        ]
      },
      {
        "identifier": 5,
        "name": "Product PX-1234",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": false,
        "url": "ProductSet('PX-1234')\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          }
        ]
      },
      {
        "identifier": 6,
        "name": "01 CREATE new Product PX-3000",
        "description": "",
        "httpMethod": "POST",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "{\n    \"ProductID\": \"PX-3000\",\n    \"TypeCode\": \"PR\",\n    \"Category\": \"Notebooks\",\n    \"Name\": \"Mac Book Pro 15\",\n    \"NameLanguage\": \"EN\",\n    \"Description\": \"Mac Book Pro 15“ 2,7 GHz Intel Core i7, 16GB 1600 MHz DDR3\",\n    \"DescriptionLanguage\": \"EN\",\n    \"SupplierID\": \"0100000001\",\n    \"SupplierName\": \"Apple\",\n    \"TaxTarifCode\": 1,\n    \"MeasureUnit\": \"EA\",\n    \"WeightMeasure\": \"2.200\",\n    \"WeightUnit\": \"KG\",\n    \"CurrencyCode\": \"EUR\",\n    \"Price\": \"2200.00\",\n    \"Width\": \"30.000\",\n    \"Depth\": \"18.000\",\n    \"Height\": \"3.000\",\n    \"DimUnit\": \"CM\"\n}",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "CRURD sequence",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "201"
          },
          {
            "name": "sProductID",
            "assertProperty": "JSONBODY",
            "operation": "EXISTS",
            "path": "$.d.ProductID",
            "expected": ""
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Content-Type",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "sap-statistics",
            "fieldValue": "true"
          }
        ]
      },
      {
        "identifier": 7,
        "name": "02 READ product PX-3000",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": false,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "//get the value of assertion named VARNAME from previous request\nvar sProductID = prevReq.namedAssertions.sProductID.evaluatedValue;\n// remove double quotes in product ID\nseqStorage.sProductID = sProductID.replace(/\"/g, \"\");\n\n// create URL with ProductID from sequence storage\nreq.url = req.url + \"('\" + seqStorage.sProductID + \"')\" ;",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "CRURD sequence",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "200"
          },
          {
            "name": "sProductID",
            "assertProperty": "JSONBODY",
            "operation": "EXISTS",
            "path": "$.d.ProductID",
            "expected": ""
          },
          {
            "name": "",
            "assertProperty": "JSONBODY",
            "operation": "CONTAINS",
            "path": "$.d.Description",
            "expected": "16GB"
          },
          {
            "name": "",
            "assertProperty": "JSONBODY",
            "operation": "CONTAINSNOT",
            "path": "$.d.Description",
            "expected": "8GB"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          }
        ]
      },
      {
        "identifier": 8,
        "name": "05 DELETE product PX-3000",
        "description": "",
        "httpMethod": "DELETE",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "// create URL with ProductID from sequence storage\nreq.url = req.url + \"('\" + seqStorage.sProductID + \"')\" ;",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "CRURD sequence",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "204"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "If-Match",
            "fieldValue": "*"
          }
        ]
      },
      {
        "identifier": 9,
        "name": "Product PX-3000",
        "description": "",
        "httpMethod": "DELETE",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet('PX-3000')\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "204"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "If-Match",
            "fieldValue": "*"
          }
        ]
      },
      {
        "identifier": 10,
        "name": "03 UPDATE Product PX-3000 with 8GB memory",
        "description": "",
        "httpMethod": "PUT",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "{\n    \"ProductID\": \"PX-3000\",\n    \"TypeCode\": \"PR\",\n    \"Category\": \"Notebooks\",\n    \"Name\": \"Mac Book Pro 15\",\n    \"NameLanguage\": \"EN\",\n    \"Description\": \"Mac Book Pro 15“ 2,7 GHz Intel Core i7, 8GB 1600 MHz DDR3\",\n    \"DescriptionLanguage\": \"EN\",\n    \"SupplierID\": \"0100000001\",\n    \"SupplierName\": \"Apple\",\n    \"TaxTarifCode\": 1,\n    \"MeasureUnit\": \"EA\",\n    \"WeightMeasure\": \"2.200\",\n    \"WeightUnit\": \"KG\",\n    \"CurrencyCode\": \"EUR\",\n    \"Price\": \"2200.00\",\n    \"Width\": \"30.000\",\n    \"Depth\": \"18.000\",\n    \"Height\": \"3.000\",\n    \"DimUnit\": \"CM\"\n}",
        "scriptCode": "// create URL with ProductID from sequence storage\nreq.url = req.url + \"('\" + seqStorage.sProductID + \"')\" ;",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "CRURD sequence",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "204"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Content-Type",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "sap-statistics",
            "fieldValue": "true"
          },
          {
            "fieldName": "If-Match",
            "fieldValue": "*"
          }
        ]
      },
      {
        "identifier": 11,
        "name": "04 READ Product PX-3000 check on 8GB memory",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "// create URL with ProductID from sequence storage\nreq.url = req.url + \"('\" + seqStorage.sProductID + \"')\" ;",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "CRURD sequence",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "200"
          },
          {
            "name": "sProductID",
            "assertProperty": "JSONBODY",
            "operation": "EXISTS",
            "path": "$.d.ProductID",
            "expected": ""
          },
          {
            "name": "",
            "assertProperty": "JSONBODY",
            "operation": "CONTAINS",
            "path": "$.d.Description",
            "expected": "8GB"
          },
          {
            "name": "",
            "assertProperty": "JSONBODY",
            "operation": "CONTAINSNOT",
            "path": "$.d.Description",
            "expected": "16GB"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "sap-statistics",
            "fieldValue": "true"
          }
        ]
      },
      {
        "identifier": 12,
        "name": "Product PX-3000",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": false,
        "url": "ProductSet('PX-3000')\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          }
        ]
      },
      {
        "identifier": 13,
        "name": "Product HT-1000",
        "description": "",
        "httpMethod": "GET",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": false,
        "url": "ProductSet('HT-1000')\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "sap-statistics",
            "fieldValue": "true"
          }
        ]
      },
      {
        "identifier": 14,
        "name": "Product PX-1234",
        "description": "",
        "httpMethod": "DELETE",
        "useProjectPrefixUrl": true,
        "fetchCSRFToken": true,
        "url": "ProductSet('PX-1234')\n",
        "tags": "",
        "requestBody": "",
        "scriptCode": "",
        "testScriptCode": "",
        "responseBodyFormat": "json",
        "groupName": "Products",
        "useBasicAuthentication": false,
        "usernameBasicAuth": "",
        "passwordBasicAuth": "",
        "assertions": [
          {
            "name": "",
            "assertProperty": "STATUS",
            "operation": "EQUALS",
            "path": "",
            "expected": "204"
          }
        ],
        "requestHeaders": [
          {
            "fieldName": "Accept",
            "fieldValue": "application/json"
          },
          {
            "fieldName": "If-Match",
            "fieldValue": "*"
          }
        ]
      }
    ],
    "sequences": [
      {
        "identifier": 1,
        "name": "CRURD process ",
        "description": "create product and read it, update some properties, read it again, delete this product",
        "preSequenceScript": "",
        "abortOnFailedAssertion": false,
        "sequenceItems": [
          {
            "identifier": 6
          },
          {
            "identifier": 7
          },
          {
            "identifier": 10
          },
          {
            "identifier": 11
          },
          {
            "identifier": 8
          }
        ]
      }
    ],
    "prefixUrls": []
  }
]
